
html, body {
    background-color: #595959; 
    font-family: 'Montserrat', 
    sans-serif; 
    margin: 0; 
    padding: 0; 
}

/* Initial menu */
.menu {
  z-index: 9000;
  background: #2C2C2C; 
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

.header {
    background-color:#CC3300;
    height: 140px;
    text-align: center;
    color: #000;
} 

.header li {
    display: inline;
    margin: 0 auto;
    position: relative;
    padding: 0px 0px 10px 30px;
    text-transform: uppercase;
    top:60px;
    left:-600px;
}

.header h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
    top:30px;
}

.footer {
    color: #31363d; 
    font-size: 10px; 
    height: 70px; 
    line-height: 70px; 
    padding-right: 40px; 
    text-align: right; 
    text-transform: uppercase; 
    margin-bottom: 100px; 
} 

/* Screen bigger than px */
@media (min-width: 1300px) {

}

/* Screen smaller than px */
@media (max-width: 1300px) { 
    .header li {
        display: inline;
        color: #31363d; 
        margin: 0 auto; 
        position: relative; 
        padding: 0px 0px 10px 30px; 
        text-transform: uppercase; 
        top:120px; 
        left:0px;
    }

} 
